@using Helpers_Basic.Helpers

@{
    ViewBag.Title = "Home Page";
}
<div>
    @LabelHelper.Label("staticlabelHelper", "Static Label Helper")
</div>
<div>
    @Html.LabelWithMark("Label with Extenstion Methods");
</div>